# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# credentials
credentials.py
.cache*

# jupyter
.ipynb_checkpoints/

# object folder (json files)
objects/

# output folder (images)
output/
