<!doctype html>
<head>
    <meta http-equiv="refresh" content="30">
    <title>Connecting {{artist_1}} and {{artist_2}} ...</title>
    <style>
        img {padding: 10px;}
    </style>
</head>
<body>
    <div>
        <p>Connecting {{artist_1}} and {{artist_2}} ...</p>
        <p>
            <img src="{{image_1}}" alt="{{artist_1}} image" height="300" width="300">
        </p>
        <p>
            <img src="{{image_2}}" alt="{{artist_2}} image" height="300" width="300">
        </p>
    </div>
<body>
